html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


p {
  margin: 0;
  padding: 0;
}

.mmtBlocksList{
  margin: 16px;
}
.mmt{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 8px;
}
.mmtBlock{
  width: 15%;
  margin: 8px;
}
.mmtDecoded, .mmtLine{
  font-size: 10px;
  width: 100%;
  text-align: left;
}
.mmtLine {
  padding-left: 8px;
}
.mmtCount{
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

main,
.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fileButton {
  padding: 4px 8px;
  border: 1px solid black;
}
.fileButton:hover {
  opacity: 0.6;
}
.fileButton:active {
  opacity: 0.3;
}

.infoBlock {
  border: 1px solid #333;
  padding: 8px;
  margin: 8px;
}

.infoBlock > p {
  margin: 0 0 4px 0;
}

.horizontalScroll {
  max-width: 90%;
  overflow-x: scroll;
}

.dataWarning {
  color: red;
  font-size: 18px;
  font-weight: bold;
}
